# ========================
# BACK_END - Spring Boot
# ========================
backend/target/
backend/*.log



# ========================
# FORNT_END - ReactJS
# ========================
frontend/node_modules/
frontend/build/



# ========================
# ENVIRONMENT FILES
# ========================
.env
*.env



# ========================
# IDE
# ========================
.vscode/
.idea/
*.iml



# ========================
# OS
# ========================
.DS_Store
Thumbs.db